* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.0rem;
}

body {
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(rgba(220, 216, 216, 0.988), rgba(46, 90, 167, 0.428));
  display: flex;
  justify-content: center;
}

.bookgram-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100vh;
}

.bookgram-books {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.books {
  width: 35rem;
}

.bookgram-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.login-container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.666);
  width: 80%;
  padding: 1.3rem 0;
  margin: 0.9rem;
  border: 1px solid rgba(156, 155, 155, 0.416);
  border-radius: 0.4rem;
}

.login-container:nth-child(1) {
  min-height: 19rem;
}

.title {
  font-family: 'Sofia', cursive;
  font-size: 2rem;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  height: 6rem;
}

.login {
  background-color: #ae6413;
  color: #ffffff;
  padding: 0.8rem;
  border-radius: 0.4rem;
}

.remove-account {
  color: #8c500f;
  margin-top: 1rem;
}

.not-the-user, .logout {
  color: rgb(160, 160, 160);
}

.blue-link {
  color: #8c500f;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
  color: #482806;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url(images/googleplay-button.png);
}

.app-download:nth-child(2) {
  background-image: url(images/apple-button.png);
}

@media (max-width: 1024px) {
  .bookgram-wrapper {
      width: 90%;
  }
}

@media (max-width: 650px) {
  body {
      background-color: #ffffff;
  }

  .bookgram-wrapper {
      width: 90%;
  }

  .bookgram-books {
      display: none;
  }

  .bookgram-login {
      width: 100%;
  }

  .login-container {
      border: 1px solid transparent;
  }

  .download {
    display: flex;
    flex-direction: column;
  }
}
